@model Student1408049WebApp.Models.Laptop
@{
    ViewBag.Title = "create";
}
<div>
    <h1>Create new Laptop</h1>
</div>
<div>
    <form asp-action="Create" method="post">
        <div>
            @Html.LabelFor(model=>model.Name)
            <input type="text" name="name" required />
            @Html.ValidationMessageFor(model=>model.Name)
        </div>
        <div>
            @Html.LabelFor(model=>model.Price)
            <input type="number" name="price" min="0" required />
            @Html.ValidationMessageFor(model=>model.Price)
        </div>
        <div>
            @Html.LabelFor(model=>model.Fingerprint)
            @Html.EditorFor(model=>model.Fingerprint)
            @Html.ValidationMessageFor(model=>model.Fingerprint)
        </div>
        <br />
        <div>
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>